@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
}

.sidebar{
  background-image: linear-gradient(to bottom, #252c36 40%, #5c6777 200%) !important;
  box-shadow: inset 3px 3px 30px rgba(148, 137, 121, 0.10), 8px 5px 0px #000 !important;
}

button{
  box-shadow: 3px 3px 0px #000;
  border: solid .8px rgba(0, 0, 0, 0.95);
}
button:hover{
  background: #3e444e;
}
.topics{
  border-top: solid 0.7px rgba(115, 123, 137, 0.39);
}
.topics span{
  font-weight: 200;
}
.profile{
  border-top: solid 0.7px rgba(115, 123, 137, 0.39);
}
.navigator{
  box-shadow: 1px 1px 0px #000;
}
.navigator:hover{
  background: rgba(63, 69, 79, 0.5);
  box-shadow: 2px 2px 0px #000;
}
.Sidebarlogin{
    box-shadow: 3px 3px 0px #000;
}
.Sidebarlogin .signup{
  box-shadow: 3px 3px 0 #222831;
  background-color: #DFD0B8;
}
.Sidebarlogin .signup:hover{
  background-color: #cdbda3;
  cursor: pointer;
}
.Sidebarlogin .login{
  border: solid 1px #DFD0B8;
  cursor: pointer;
  position: relative;
}
.Sidebarlogin .login::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 3px;
  left: 3px;
  border: 1px solid #dfd0b873;
}