@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-corner {
  background: #000 !important;
}

::placeholder {
  font-size: 14px;
  font-weight: 300;
  color: #dfd0b8;
  letter-spacing: 1.5px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
}

.sidebar {
  background-image: linear-gradient(
    to bottom,
    #252c36 40%,
    #5c6777 200%
  ) !important;
  box-shadow: inset 3px 3px 30px rgba(148, 137, 121, 0.1), 8px 5px 0px #000 !important;
}

button {
  box-shadow: 3px 3px 0px #000;
  border: solid 0.8px rgba(0, 0, 0, 0.95);
}
button:hover {
  background: #3e444e;
}
.topics {
  border-top: solid 0.7px rgba(115, 123, 137, 0.39);
}
.topics span {
  font-weight: 200;
}
.profile {
  border-top: solid 0.7px rgba(115, 123, 137, 0.39);
}
.navigator {
  box-shadow: 1px 1px 0px #000;
}
.navigator:hover {
  background: rgba(63, 69, 79, 0.5);
  box-shadow: 2px 2px 0px #000;
}
.Sidebarlogin {
  box-shadow: 3px 3px 0px #000;
}
.Sidebarlogin .signupBtn {
  box-shadow: 3px 3px 0 #222831 !important;
  background-color: #dfd0b8 !important;
}
.Sidebarlogin .signupBtn:hover {
  background-color: #cdbda3;
  cursor: pointer;
}
.Sidebarlogin .loginBtn {
  border: solid 1px #dfd0b8;
  cursor: pointer;
  position: relative;
}
.Sidebarlogin .loginBtn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 3px;
  left: 3px;
  border: 1px solid #dfd0b873;
}
/* main */
main {
  scrollbar-color: #393e46 #222831;
  scrollbar-width: thin;
}
.input {
  border: solid 0.8px #000000e4;
  box-shadow: 3px 4px 0 #000;
}
.input input:focus {
  outline: none;
}
.input:focus {
  outline: none;
}

.suggestion {
  border: solid 0.8px #000000e4;
  box-shadow: 3px 4px 0 #000;
}
/* chat */

.request {
  border: solid 0.8px #000000e4;
  box-shadow: 3px 4px 0 #000;
}
.response div {
  border: solid 0.8px #000000e4;
  box-shadow: 3px 4px 0 #000;
  background: linear-gradient(to bottom, #dfd0b8 0%, #807666 350%);
}

/* signup */
.signup section {
  background: url("../public/login-signup-bg.png") no-repeat center,
    linear-gradient(to bottom, #dfd0b8 0%, #807666 350%);
  background-size: cover;
  border: solid 0.8px #000000e4;
  box-shadow: -4px 4px 0 #000;
}
.form {
  border: solid 0.8px #000000e4;
  box-shadow: 3px 4px 0 #000;
  background: linear-gradient(to bottom, #dfd0b8 0%, #807666 350%);
}

/* Responsive */

.container {
  margin-top: 100px;
}
.mobile-nav {
  background-image: linear-gradient(
    to bottom,
    #252c36f2 40%,
    #5c6777e2 200%
  ) !important;
  backdrop-filter: blur(10px);
}
.overlayMenu {
  background-image: linear-gradient(
    to bottom,
    #252c36 40%,
    #5c6777 200%
  ) !important;
  box-shadow: inset 3px 3px 30px rgba(148, 137, 121, 0.1), 8px 5px 0px #000 !important;
  z-index: 1;
}

/* md */
@media (min-width: 768px) {
  body {
    flex-direction: row !important;
  }
  main{
    padding: 20px !important;
  }
  .container {
    margin: auto;
    padding: 0;
  }
  .mobile-nav {
    display: none;
  }
  .welcome {
    font-size: 50px;
    font: 700;
    column-gap: 27px;
  }
  .welcome svg {
    width: 76px;
    height: 81px;
  }
  .overlayMenu {
    display: none;
  }
  .sidebar {
    display: flex;
  }
  .chatFormContainer{
    width: auto;
  }
  .input {
    width: auto;
  }
  .input input {
    width: 400px;
  }
  .input button {
    width: 30px;
    height: 30px;
  }
  .suggestionContainer {
    max-width: 800px;
    gap: 30px;
  }
  .suggestion {
    width: 270px;
    flex-grow: 1;
  }
  .suggestion button {
    width: auto;
  }

  /* Chat page */
  .chatPage {
    padding: 100px;
    margin-top: 0;
  }
  .chatPage form {
    padding: 0;
    bottom: 30px;
  }
  .chatPageInput {
    width: 500px;
  }

  /* sign in */
  .signup {
    padding: 0;
    padding-left: 40px;
    margin: 0;
  }
  .signup section {
    display: flex;
  }
  .signup main {
    width: 50%;
    align-items: flex-start;
    padding-top: 30px;
    row-gap: 50px;
  }
  .signup main form {
    width: 90%;
    padding: 40px;
  }
  .signup main form h1 {
    font-size: 30px;
  }
  .signup main form .signupTitle {
    font-size: 40px;
    text-align: center;
  }
}
/* lg */
@media (min-width: 1024px) {
  .signup main form {
    width: 90%;
  }
}

/* xl */
@media (min-width: 1280px) {
  .signup main form {
    width: 70%;
  }
}